.content {
  max-width: 400px;
  margin: 11.5px auto;
  padding: 19.172px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  }
  
.content h1 {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
  }

.content p {
  background-color: black;
  color: white;
  text-align: left;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
}

.list{
  margin: 20px auto;
  padding: 6px;
  color: white;
  background-color: black;
  border-radius: 10px;
  text-align: left;
}

.list-link{
  color:white;
  background-color: black;
  text-decoration: none;
}

.list-link:hover {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-radius: 3px;
}

@media (max-width: 640px){
    .home .content{
        padding: 20px;
        display: block;
    }

    .home .content p{
        text-align: center;
    }
    header {
        flex-direction:column ;
        height: max-content;
        padding: 2%;
    }
}

@media((min-width:640px) and (max-width:1007px)){
    .home .content{
    flex-direction: column;
    align-items:center;
    justify-content: center;
    }
}