.space{
  padding-top: 100px;
}

.login h1 {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    display: inline-block;
  }
  
  .login button {
    border-radius: 10px;
    background-color: burlywood;
    color: black;
    font-size: 15px;
  }

  .login a{
    padding: 5px;
    border-radius: 10px;
    background-color: burlywood;
    color: black;
    text-decoration: double;
    font-size: 15px;
  }

  .p-para{
    padding-top: 25px;
  }

  .login a:hover {
    background-color: black;
    color: white;
  }
  
  .login {
    max-width: 400px;
  margin: 4.5px auto;
  padding: 19.172px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  }
  
  .login .form-label {
    background-color: black;
    color: white;
  }
  
  @media (max-width: 640px){
    .login .content{
        padding: 20px;
        display: block;
    }
  
    .login .content p{
        text-align: center;
    }
    header {
        flex-direction:column ;
        height: max-content;
        padding: 2%;
    }
  }
  
  @media((min-width:640px) and (max-width:1007px)){
    .login .content{
    flex-direction: column;
    align-items:center;
    justify-content: center;
    }
  }