.profile-display h1 {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
}

.profile {
    max-width: 400px;
    margin: 4.6px auto;
    padding: 20px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .profile h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile-display h3 {
    background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
  }
  
.profile p {
  background-color: #414141;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  width: fit-content;
}

  

@media (max-width: 640px){
  .home .content{
      padding: 20px;
      display: block;
  }

  .home .content p{
      text-align: center;
  }
  header {
      flex-direction:column ;
      height: max-content;
      padding: 2%;
  }
}

@media((min-width:640px) and (max-width:1007px)){
  .home .content{
  flex-direction: column;
  align-items:center;
  justify-content: center;
  }
}