
.weekly {
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.weekly p {
  background-color: black;
  color: white;
  padding: 5px 15px ;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
}

.weekly button{
  background-color: #414141;
        color: white;
        border-radius: 8px;
        padding: 2px 5px;
        margin: 5px;
}

.weekly h1{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
  
}
.input2{
  width: 50px;
}
.table2 {
  width: 100%;
}

.table2 th,
.table2 td {
  border: 1px solid #414141;
  color: black;
  background-color: white;
  padding: 4px;
  text-align: center;
}

.para p{
  font-size: 20px;
}

@media (max-width: 390px) {
  .weekly .table2 {
    padding: 20px;
    display: block;
  }

  .weekly .table2 p {
    text-align: center;
  }

  header {
    flex-direction: column;
    height: max-content;
    padding: 2%;
  }
}

@media (min-width: 390px) and (max-width: 791px) {
  .weekly .table2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}